body, html {
    /*background: #101316;*/
    background: #000306;
    font-family: sans-serif;
    font-size: 12px;
    height: 100%;
}

body {
    color: #f3f6f9;
}

.fullscreen-map {
    height: 100%;
    width: 100%;
    margin: auto;
}

.details {
    position: absolute;
    background: #eee;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #fff;
    border-radius: 0.25em;
    bottom: 1em;
    color: #333;
    min-height: 200px;
    left: 1em;
    min-width: 15%;
    max-width: 15%;
    padding: 0.5em;
}

.land {
    stroke: #666;
    fill: #333;
}

.pin {
    cursor: pointer;
}
.pin-a {
    fill: #ffff66;
    fill-opacity: 0.5;
}
.pin-b {
    fill: #66ffcc;
    fill-opacity: 0.5;
}
.pin-c {
    fill: #66ccff;
    fill-opacity: 0.5;
}
.graticule {
    stroke: #444;
    stroke-width: 1px;
}
